.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.icons:hover {
    transform: scale(1.1, 1.1)
}

.icons p {
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 5px;
}

.icons img {
    object-fit: contain;
}

.icons:hover img {
    transform: scale(1, 1);
    transition: transform 0.5s ease;
}

.IconsContainer {
    margin-top: 80px;
    margin-left: 8px;
}

.Icon {
    margin-bottom: 90px;
}

.Icon img {
    height: 100px;
}