.AppColorBlue {
    color: #335C67;
}

.AppColorRed {
    color: #540B0E;
}

.AppColorLightRed {
    color: #9E2A2B;
}

.AppColorLightYellow {
    color: #FFF3B0;
}

.AppColorDarkYellow {
    color: #E09F3E;
}

.AppColorSemiYellow {
    color: rgba(255, 243, 176, 0.73);
}

.AppColorBlack {
    color: #000000;
}

.AppBackgroundBlue {
    background: #335C67;
}

.AppBackgroundRed {
    background: #540B0E;
}

.AppBackgroundLightRed {
    background: #9E2A2B;
}

.AppBackgroundLightYellow {
    background: #FFF3B0;
}

.AppBackgroundDarkYellow {
    background: #E09F3E;
}