.hide-div {
    display: none;
}

.AppColorWhite {
    color: #fff;
}

.AppColorBlue {
    color: #335C67;
}

.AppColorDarkBlue {
    color: #01579b;
}

.AppColorRed {
    color: #540B0E;
}

.AppColorLightRed {
    color: #9E2A2B;
}

.AppColorLightYellow {
    color: #FFF3B0;
}

.AppColorDarkYellow {
    color: #E09F3E;
}

.AppColorSemiYellow {
    color: rgba(255, 243, 176, 0.73);
}

.AppColorBlack {
    color: #000000;
}

.AppColorBrown {
    color: #3e2723;
}

.AppBackgroundWhite {
    background: #fff;
}

.AppBackgroundBlack {
    background: #000000;
}

.AppBackgroundBlue {
    background: #335C67;
}

.AppBackgroundDarkBlue {
    background-color: #01579b;
}

.AppBackgroundRed {
    background: #540B0E;
}

.AppBackgroundLightRed {
    background: #9E2A2B;
}

.AppBackgroundLightYellow {
    background: #FFF3B0;
}

.AppBackgroundDarkYellow {
    background: #E09F3E;
}

.AppBackgroundBrown {
    background: #3e2723;
}

.IconsContainer {
    margin-top: 80px;
    margin-left: 8px;
}

.Icon {
    margin-bottom: 90px;
}

.Icon img {
    max-height: 90px;
}

.silder-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: -25px;
    padding-bottom: 0px;
}

.silder-button {
    margin-left: 5px;
}

.app-footer {
    margin-bottom: 0px;
}

.determinate-width-10 {
    width: 10%;
}

.determinate-width-20 {
    width: 20%;
}

.determinate-width-30 {
    width: 30%;
}

.determinate-width-40 {
    width: 40%;
}

.determinate-width-50 {
    width: 50%;
}

.determinate-width-60 {
    width: 60%;
}

.determinate-width-70 {
    width: 70%;
}

.determinate-width-80 {
    width: 80%;
}

.determinate-width-90 {
    width: 90%;
}

.determinate-width-100 {
    width: 100%;
}