@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');
body {
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(255, 243, 176, 0.14);
}

.main-div {
    min-height: 60vh;
}